
.wrapper{
    background: white;
    font-size: 1.6rem;
    width: 82.3rem;
    height: 51.5rem;
    border-radius: 2rem;
    top: 50%;
    margin: auto;
    transform: translate(0, 15.5%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
}

.wrapper form{
    display:grid;

}

.wrapper form ::placeholder{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
}

.wrapper img{
    position: absolute;
    left: 31.8rem;
    top: 1.4rem;
}

.logofundo{
    position: fixed;
    padding-left: 40.5rem;
    padding-top: 6rem;
    overflow: hidden;
    border-radius: 2rem;
    height: 16rem;

    transform: rotate(-18.35deg);


    
}

.wrapper h3{
    position: absolute;
    padding-left: 35.8rem;
    padding-top: 17.5rem;
    font-size: 3rem;
    padding-bottom: 4.8rem;
    font-family: 'Rokkitt', sans-serif;
    font-weight: 600;
    
}

.wrapper form .user{
    padding-bottom: 2.6rem;
    padding-top: 24.1rem;
    padding-left: 19rem;
    
}

.wrapper form .pass{
    padding-bottom: 2.6rem;
    padding-left: 19rem;
    
}


.wrapper form button{
    position: absolute;
    width: 18.7rem;
    height: 6.6rem;
    background: var(--yellow);
    border-radius: 4rem;
    border: solid grey 1px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 1.8rem;
    left: 32.6rem;
    top: 40.7rem;
    
}

.wrapper form input{
    padding: 0 1.6rem;
    height: 5rem;
    width: 44.2rem;
    background: var(--grey);
    outline: none;
    
}