.principal{
    width: 102.4rem;
    height: 76.8rem;
}

.wrapper{
    background: white;
    font-size: 1.6rem;
    width: 55.3rem;
    height: 52.6rem;
    border-radius: 2rem;
    top: 50%;
    margin-left: 6.6rem;
    transform: translate(0, 15.5%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    top: 5.8rem;
    margin-bottom: 5.8rem;
    
}

.wrapper h2{
    padding-top: 1.4rem;
    padding-left: 2.8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.3rem;
}

.nav{
    display: flex;
    width: 126.9rem;
    height: 8.1rem;
    background: var(--yellow);
    margin-left: 3.8rem;
    margin-top: 2.8rem;
    border-radius: 1.6rem;

}

.nav button{
    margin-left: 3.8rem;
    margin-top: 1.2rem;
    width: 17.7rem;
    height: 5.6rem;
    background: var(--purple);
    border-radius: 2rem;
    border: solid grey 1px;
    color: white;

    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 1.8rem;
}


.nav img{
    width: 16.8rem;
    height: 8rem;
   
    
    
}

.searchbutton{
    margin-left: 3.8rem;
    margin-top: 1.2rem;
    position: absolute;
    width: 17.7rem;
    height: 5.6rem;
    right: 24.8rem;
    top: 32.7rem;

    background: var(--yellow);
    border-radius: 2rem;
    border: solid white 1px;
    color: black;

    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 1.8rem;
}

.home{
    margin-left: 33.5rem;
}

.search{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.3rem;

    color: white;
    position: absolute;
    left: 78.8rem;
    top: 20rem;

}

.searchbar{
    position: absolute;
    width: 44.2rem;
    height: 4.5rem;
    background: var(--grey);
    outline: none;
    left: 79.1rem;
    top: 26.7rem;
}

::placeholder{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    padding-left: 1.5rem;
}
