<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/global.css') }}" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}" media="screen">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&family=Rokkitt:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="principal">
        <h2 id="insert">Usuário a atualizar:</h2>
        <form method="POST">
            <input id="param1" type="text" placeholder="Nome" name="name">
            <input id="param2" type="text" placeholder="Email" name="email">
            <input id="param3" type="text" placeholder="Número" name="number">
            <input id="param4" type="text" placeholder="Endereço" name="address">
            <button type="submit" id="insertbutton">Próximo</button>
        </form>
        <div class="nav">
            <img src="static/images/logo.svg">

            <a href="/home" class="home">Home</a>
            <a href="/listar">Listar</a>
            <a href="/">Logout</a>
            <a href="/inserir">Inserir</a>
            <a href="/atualizar">Atualizar</a>
        </div>

        
    </div>
</body>
</html>