{% extends "base.html" %} {% block title %}Atualizar{% endblock %}

{% block content %}

<form method="POST">
    <h4>Preencha os novos dados do contato:</h4>
    <h6>Caso não deseje alterar certos dados, preencha-os como eles já são.</h6>
    <div class="form-group">
        <input type="text" class="form-control" id="floatingInput" placeholder="Nome" name="name">
    </div>
    <div class="form-group">
        <input type="email" class="form-control" id="floatingInput" placeholder="Email" name="email">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="floatingInput" placeholder="Numero" name="number">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="floatingInput" placeholder="Endereco" name="address">
    </div>
    <button class="btn btn-primary" type="submit">Atualizar</button>
</form>

{% endblock %}