{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}

<h3>Sua lista de contatos:</h3>
<ul class="list-group list-group-flush" id="contatos">
    {% for contato in addressbook[user.name.lower()] %}
    <li>
        {{ contato["name"], contato["email"], contato["number"], contato["address"] }}
        <button type="button" class="close" onClick = "deletecontact({{ contato }})">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
</ul>

<br><br><br><br>

<form method="POST">
    <div class="form-floating">
        <input type="text" id="floatingInput" placeholder="Nome, endereço, email, numero" name="pesquisa">
    </div>
    <button class="btn btn-primary" type="submit">Pesquisar</button>
</form>

{% endblock %}