<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        body{
            background-color: #7270EF;
        }
    </style>

    <link rel="stylesheet" type="text/css" href="css/login.css" media="screen">

</head>
<body>
    <div style="background-image: url(images/ThePlanner2.svg); height: 907px; width: 914px; top: 42px; left: 583px;"></div>
    <div style="background-image: url(images/ThePlanner3.svg); height: 167px; width: 157px; top: 258.53px; left: 988px;"></div>
    <img src="images/ThePlanner1.svg">

    <h3>Faça login:</h3>

    <form action="" method="POST">
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="Username" name="username">
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Senha" name="password">
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Entrar</button>
    </form>
    <button onclick="window.location.href='index.html'">Voltar</button>

</body>
</html>